.container {
  width: 100%;
  height: 100%;
  --s: 83px;
  --o: 0.5;
  --c1: rgba(244, 235, 208, var(--o));
  --c2: rgba(194, 178, 163, var(--o));

  background-image: linear-gradient(var(--c1) 50%, var(--c2) 50%),
    linear-gradient(45deg, var(--c1) 50%, var(--c2) 50%),
    linear-gradient(90deg, var(--c1) 50%, var(--c2) 50%),
    linear-gradient(135deg, var(--c1) 50%, var(--c2) 50%);
  background-size: var(--s) var(--s);
}
